html[data-theme='dark'] {
  --background: #191919;
  --text-color: rgb(187, 187, 187);
}

html[data-theme='light'] {
  --background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  --text-color: #22272e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color) !important;
  background-color: var(--background) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
