.container {
  max-width: 72rem;
  margin: 0 auto;
}
.title {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 96px;
}
.docTitle {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  line-height: 32px;
  margin-bottom: 16px;
}
.emptySpace {
  padding: 2rem 0;
}
.card {
  display: inline-block;
  height: 100%;
}
[data-theme='light'] .card {
  background: #F9FAFB;
}
[data-theme='dark'] .card {
  color: rgb(187, 187, 187);
  background: #2B2B2B;
}

@media screen and (max-width: 72rem) {
  .container {
    padding: 0 2rem;
  }
}